body{
  margin:0;
  overflow:hidden;
  font-family:Arial;
  background:black;
}

/* 🌌 FONDO GALAXIA CARTA */
#letterScreen{
  position:fixed;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:10;

  opacity:0;
  pointer-events:none;
  transition: opacity 2s ease;

  background:
  radial-gradient(circle at 30% 30%, #1a0033, #000814 60%),
  radial-gradient(circle at 70% 70%, #001d3d, transparent 60%);
}

/* estrellas fondo */
#letterScreen::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
  opacity:0.15;
}

#letterScreen.show{
  opacity:1;
  pointer-events:auto;
}

/* 💌 CARTA PANTALLA COMPLETA */
.letter{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  padding:80px 120px;
  box-sizing:border-box;

  color:white;
  text-align:left;

  overflow-y:auto;          /* scroll vertical */
  line-height:1.8;
  font-size:22px;

  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
}

.letter h1{
  font-size:50px;
  margin-bottom:40px;
  text-align:center;
}

.letter p{
  max-width:900px;
  margin:auto;
}
